body {
    background-color: pink;
  }
  
  h1 {
    color: purple;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }

#memory1 {
    color: purple;
}

section {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  padding: 40px;
  background-color: #FFE5E5;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}

#FirstMeet {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#sky {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#sky1 {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#makeup {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#Firstkiss {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#wth {
  width: 300px;
  height: 150px;
  float: left;
  padding: 10px;
}

#Monterrey {
  width: 300px;
  height: 200px;
  float: left;
  padding: 10px;
}

#Aquarium {
  width: 300px;
  height: 200px;
  float: right;
  padding: 10px;
}

#who {
  width: 300px;
  height: 190px;
  float: center;
  padding: 10px;
}

#meetfam {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#golf{
  width: 300px;
  height: 190px;
  float: right;
  padding: 10px;
}

#tommys {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#keropi {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#churro {
  width: 300px;
  height: 190px;
  float: right;
  padding: 10px;
}

#disney {
  width: 300px;
  height: 190px;
  float: right;
  padding: 10px;
}

#diseny {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#cafe {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#missedu {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#FamDis {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#halloween {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#vegas {
  width: 300px;
  height: 190px;
  float: left;
  padding: 10px;
}

#bday {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#valentines {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#zombies {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#Ass1 {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#Ass2 {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#skating {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}

#blacked {
  width: 300px;
  height: 170px;
  float: right;
  padding: 10px;
}

#at {
  width: 300px;
  height: 170px;
  float: left;
  padding: 10px;
}